<!DOCTYPE html>
<html lang="en">
<head>
<title>AirLines</title>
    <style>
        .videoContainer{
             display: inline;
        }
            .videoContainer img {
      max-height: 200px;
      max-width: 200px;
      object-fit: cover;
    }
    </style>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Cabin_400.font.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.main, .tabs ul.nav a, .content, .button1, .box1, .top { behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page1">
<div class="main">
  <!--header -->
  <header>
    <div class="wrapper">
      <h1><a href="index.html" id="logo">AirLines</a></h1>
      <span id="slogan">Crowd insight</span>
      <nav id="top_nav">
       
      </nav>
    </div>
    <nav>
      <ul id="menu">
        <li><a href="dashboard.html"><span><span>Dashboard</span></span></a></li>
        <li><a href="camera.html"><span><span>camera</span></span></a></li>
      </ul>
    </nav>
  </header>
  <section id="content">
    <div class="for_banners">
     <div id="videoContainer">
         <img src="{{ url_for('video_feed') }}" style="width: 84.5%; height: 400px;">

     </div>
        <div>
          		<table>
					<tr>
					<td><img src="gfx/images.jpg" alt="EmployeeNumber" style=" width: 50%;float: right;position: relative;right: -700px; top:-400px;"></td>
					</tr>
					<tr>
					<td style="text-align:center;">	<label id="lastseen" style="font-size: 30px; margin-top: 20px;color: blue;  position: relative;right: -750px;top:-390px; " ></label></td>
					</tr>
					</table>
        </div>

    </div>
  </section>
  <footer>
    <div class="wrapper">
      <ul id="icons">
        <li><a href="#" class="normaltip"><img src="images/icon1.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon2.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon3.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon4.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon5.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon6.jpg" alt=""></a></li>
      </ul>
      <div class="links">Copyright &copy; <a href="#">Master Works</a> All Rights Reserved<br>
         <a target="_blank" href="http://www.master-works.net/mw/">http://www.master-works.net/mw/</a></div>
    </div>
  </footer>
  <!--footer end-->
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(document).ready(function () {
    tabs.init();
});
jQuery(document).ready(function ($) {
    $('#form_1, #form_2, #form_3').jqTransform({
        imgPath: 'jqtransformplugin/img/'
    });
});
$(window).load(function () {
    $('#slider').nivoSlider({
        effect: 'fade', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft' 
        slices: 15,
        animSpeed: 500,
        pauseTime: 6000,
        startSlide: 0, //Set starting Slide (0 index)
        directionNav: false, //Next & Prev
        directionNavHide: false, //Only show on hover
        controlNav: false, //1,2,3...
        controlNavThumbs: false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel: false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav: true, //Use left & right arrows
        pauseOnHover: true, //Stop animation while hovering
        manualAdvance: false, //Force manual transitions
        captionOpacity: 1, //Universal caption opacity
        beforeChange: function () {},
        afterChange: function () {},
        slideshowEnd: function () {} //Triggers after all slides have been shown
    });
});
</script>
<script>
 setInterval(function(){ loadData1(); }, 3000);
            function loadData1()
            {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function()
                {
                    if (xhr.readyState == 4 && xhr.status == 200)
                    {

                        var arrData = new Array();
                        var jsonObj = eval(xhr.responseText);
						  document.getElementById("lastseen").innerHTML =jsonObj[0];

                    }
                };
                xhr.open('GET', 'getlastattend');
                xhr.send();
            }

// self executing function here
(function() {
   // your page initialization code here
   // the DOM will be available here
var temp= $( "#videoContainer");
debugger;
$('#videoContainer').children('img');



})();
</script>

</body>
</html>